
:host {
  .container {
    display: flex;

    .chat-rooms {
      width:   300px;
      display: table;
      border:  black solid 1px;

      .header {
        display: table-row;

        &:not(:last-child) {
          .header__item {
            border-bottom: black solid 1px;
          }
        }

        &__item {
          display: table-cell;

          &:not(:last-child) {
            border-right: black solid 1px;
          }
        }
      }

      .chat-room {
        display: table-row;

        &:not(:last-child) {
          .chat-room__item {
            border-bottom: black solid 1px;
          }
        }

        &__item {
          display: table-cell;

          &:not(:last-child) {
            border-right: black solid 1px;
          }
        }
      }
    }
  }


}
